* {
  padding: 0;
  margin: 0; }

.container {
  margin-right: 100px;
  margin-left: 100px; }
  .container hr {
    margin-top: 10px;
    width: 11%;
    margin-left: 44px;
    border: 1.5px solid;
    color: rgba(0, 0, 0, 0.3); }
  .container .introduction {
    width: 100%;
    display: flex; }
    .container .introduction .content {
      width: 70%;
      padding-left: 107px;
      padding-right: 166px; }
      .container .introduction .content h2 {
        font-family: 'Julius Sans One', Sans-Serif;
        font-weight: bolder;
        font-size: 45px; }
      .container .introduction .content p {
        font-family: 'Monda', sans-serif;
        font-weight: bolder;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.3);
        margin-top: 22px; }
    .container .introduction .btn {
      width: 30%;
      position: relative; }
      .container .introduction .btn button {
        position: absolute;
        bottom: 0;
        left: 98px;
        padding: 5px 27px 5px 27px;
        color: rebeccapurple;
        background-color: white;
        display: block;
        text-align: center;
        margin-top: 15px;
        background-color: white;
        border: 2.5px solid rebeccapurple;
        width: 170px; }
        .container .introduction .btn button a {
          font-family: 'Julius Sans One', sans-serif;
          font-weight: bolder;
          font-size: 12px; }

a {
  text-decoration: none; }

html, body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.slider {
  width: 90%;
  margin: 50px auto; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide img {
  width: 100%; }

.slick-slide {
  transition: all ease-in-out .3s; }

.slick-current {
  opacity: 1; }

.slick-prev::before {
  content: "\f1db";
  font-family: FontAwesome;
  display: block;
  font-size: 38px;
  color: rebeccapurple; }

.slick-next::after {
  font-family: FontAwesome;
  display: block;
  font-size: 38px;
  color: rebeccapurple;
  content: "\f1db"; }

.slick-prev, .slick-next {
  font-size: 0;
  position: absolute;
  top: 25%;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border: none;
  background: transparent; }

.card_container {
  width: 302px;
  height: 400px;
  margin-left: auto;
  margin-right: auto; }
  .card_container .card:hover .card_info {
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 144px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 9px 0px 10px 0px;
    font-size: 12px;
    color: black;
    font-weight: 300;
    text-align: center;
    transform: scale3d(1, 1.2, 19);
    transition: 0.3s ease-in-out;
    box-shadow: 0px 35px 23px rgba(0, 0, 0, 0.05); }
    .card_container .card:hover .card_info .details {
      opacity: 1;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-top: 15px;
      background-color: white;
      border: 1.5px solid rebeccapurple;
      padding: 4px 16px;
      transition: 0.4s; }
      .card_container .card:hover .card_info .details a {
        font-family: 'Julius Sans One', sans-serif;
        color: rebeccapurple;
        font-size: 12px;
        font-weight: bolder; }
    .card_container .card:hover .card_info .address {
      left: 0;
      bottom: 0;
      opacity: 1;
      width: 100%;
      background-color: #fff;
      box-sizing: border-box;
      padding: 0px 9px 0px 10px;
      font-size: 22px;
      color: black;
      font-weight: 300;
      text-align: center;
      font-family: 'Courgette', cursive;
      transition: all 0.4s; }
    .card_container .card:hover .card_info .card_place {
      color: black;
      font-weight: 100;
      font-size: 16px;
      font-family: 'Monda', sans-serif;
      display: block;
      padding: 30px 10px 0px 10px;
      transition: 0.5s; }
  .card_container .card .card_image img {
    height: 400px;
    width: 302px; }
  .card_container .card .card_info {
    width: 100%;
    height: 25px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0px;
    font-size: 14px;
    text-align: center;
    margin-top: -20px;
    display: inline-block;
    transition: 0.3s ease-in-out; }
    .card_container .card .card_info .address {
      left: 0;
      bottom: 0;
      opacity: 0;
      width: 100%;
      background-color: #fff;
      box-sizing: border-box;
      padding: 0px 9px 0px 10px;
      font-size: 22px;
      color: black;
      font-weight: 300;
      text-align: center;
      font-family: 'Courgette', cursive;
      transition: opacity 0.4s ease-in-out; }
    .card_container .card .card_info .card_place {
      color: black;
      font-weight: 100;
      font-size: 16px;
      display: block;
      font-family: 'Monda', sans-serif;
      padding: 0px 10px 0px 10px;
      transition: 0.5s;
      margin-top: -22px; }
    .card_container .card .card_info .details {
      transition: 0.4s ease-in-out;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-top: 15px;
      background-color: white;
      border: 1.5px solid rebeccapurple;
      padding: 4px 16px;
      opacity: 0; }
      .card_container .card .card_info .details a {
        font-family: 'Julius Sans One', sans-serif;
        color: rebeccapurple;
        font-size: 12px;
        font-weight: bolder; }
